<html>
<head>
	<title>VimJolts :: get the jolts on your vim</title>
	<link media="all" rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<script type="text/javascript" src="/static/javascript/jquery-latest.js"></script>
<script type="text/javascript">
</script>
</head>
<body>
	<div id="content">
		<p align="right">{{ greeting }}</p><br />
		<a href="/"><img src="/static/image/vimjolts-logo.png" id="logo" border="0" /></a>
		<h2>Get the Jolts on Your Vim</h2>
		<div class="package-info">
			<input type="hidden" id="id" value="{{ pkg.id }}" ><br />
			<label for="name">Name:</label><br />
			<input type="text" id="name" value="{{ pkg.name }}" ><br />
			<label for="version">Version:</label><br />
			<input type="text" id="version" value="{{ pkg.version }}" ><br />
			<label for="url">URL:</label><br />
			<input type="text" id="url" value="{{ pkg.url }}" ><br />
			<label for="description">Description:</label><br />
			<textarea id="description">{{ pkg.description|escape }}</textarea><br />
			<label for="installer">Installer:</label><br />
			<select id="installer">
				<optgroup label="Single File">
				<option value="10"{% ifequal pkg.installer "10" %} selected="selected"{% endifequal %}>Get plain text file via HTTP. and Copy the file to plugin directory</option>
				</optgroup>
				<optgroup label="Zipped File">
				<option value="20"{% ifequal pkg.installer "20" %} selected="selected"{% endifequal %}>Get zipped file via HTTP. and unzip it to plugin directory</option>
				<option value="21"{% ifequal pkg.installer "21" %} selected="selected"{% endifequal %}>Get zipped file via HTTP. and unzip it to plugin directory</option>
				</optgroup>
				<optgroup label="Subversion">
				<option value="30"{% ifequal pkg.installer "30" %} selected="selected"{% endifequal %}>Export files from remote subversion repository to plugin directory</option>
				</optgroup>
			</select><br />
			<label>UNIX:</label><br />
			<div class="installer">{{ pkg.installer_unix|linebreaksbr }}</div>
			<label>Win32:</label><br />
			<div class="installer">{{ pkg.installer_win32|linebreaksbr }}</div>
		</div>
		<p align="center">Provided by <a href="http://github.com/vimjolts">VimJolts Developer Team</a>.</p>
	</div>
</body>
</html>
