html>/**/body {
	background: transparent;
}
#content {
	font-family: arial, helvetica, sans-serif;
}
#logo {
	width: 30%;
}
div.quote {
	background-color: #eeeeee;
	padding: 1em;
}
blockquote pre {
	width: 100%;
	padding: 1em;
	color: white;
	background: black;
	text-align: left;
}
#packages {
	margin-left: 2em;
}
label {
	font-weight: bold;
	color: darkblue;
}
a {
	font-size: 10pt;
	color: #333399
}
input, textarea, select {
	background-color: #e6e6e6 !important;
	border: 1px solid #b5b5b5;
	padding: 2px;
}
input:focus, select:focus, textarea:focus {
    background-color: #ddffff !important;
}
.package-info {
	margin-left: 2em;
}
.package-info input[type=text], .package-info select {
	width: 600px;
}
.package-info textarea {
	width: 600px;
	height: 100px;
}
.package-info div.installer {
	width: 600px;
	height: 100px;
	border: 1px solid #b5b5b5;
	padding: 2px;
}
